<div class="marketing-container">
    <a href="#" (click)="goBack()" target="_self">
        <p class="unnamed-character-style-20">Inicio / HERRAMIENTAS DE MARKETING</p>
    </a>
    <div class="header-section">
        <p class="marketing-subtitle">Buscando conexiones, apoyando el conocimiento con:</p>
        <h1 class="marketing-title">HERRAMIENTAS DE <span class="marketing-title-span">MARKETING</span></h1>
    </div>

    <div class="tools-grid">
        <div class="tool-card gray-card">
            <a routerLink="/iframe/11" target="_self">
                <h3 class="display">EVOLUCIÓN NEGOCIO</h3>
                <h4 class="none subtitle-display">Información sobre la evolución del Negocio y Actividad de Retención de
                    clientes.</h4>
                <div class="icons">
                    <div class="icon-arrow"></div>
                    <div class="icon icon-1-6"></div>
                </div>
            </a>
        </div>

        <div class="tool-card green-card">
            <a routerLink="/iframe/17" target="_self">
                <h3 class="display">IMPACTO DE ACCIONES COMERCIALES</h3>
                <h4 class="none subtitle-display">Información estadistica de la eficiencia de las acciones que hacemos a
                    los clientes de
                    retención, vinculación.</h4>
                <div class="icons">
                    <div class="icon-arrow"></div>
                    <div class="icon icon-2-6"></div>
                </div>
            </a>
        </div>

        <div class="tool-card teal-card">
            <a routerLink="/iframe/21" target="_self">
                <h3 class="display">CAMPAÑAS</h3>
                <h4 class="none subtitle-display">Informacion sobre las Campañas de venta de productos con descuento.
                </h4>
                <div class="icons">
                    <div class="icon-arrow"></div>
                    <div class="icon icon-3-6"></div>
                </div>
            </a>
        </div>

        <div class="tool-card green-card">
            <a routerLink="/iframe/19" target="_self">
                <h3 class="display">PERFIL CLIENTE COLECTIVO</h3>
                <h4 class="none subtitle-display">Perfil del cliente empresa.</h4>
                <div class="icons">
                    <div class="icon-arrow"></div>
                    <div class="icon icon-4-6"></div>
                </div>
            </a>
        </div>

        <div class="tool-card teal-card">
            <a routerLink="/iframe/14" target="_self">
                <h3 class="display">DIMENSIONAMIENTO DE ACCIONES COMERCIALES</h3>
                <h4 class="none subtitle-display">Herramienta para sacar estadísticas antes de realizar una acción,
                    aqupi vemos el
                    volumen de
                    clientes al que iriamos a impactar u otro tipo de estadisticas.</h4>
                <div class="icons">
                    <div class="icon-arrow"></div>
                    <div class="icon icon-5-6"></div>
                </div>
            </a>
        </div>

        <div class="tool-card gray-card">
            <a routerLink="/iframe/15" target="_self">
                <h3 class="display">GEOMARKETING EMPRESAS</h3>
                <h4 class="none subtitle-display">Información del Mercado de Empresas en España.</h4>
                <div class="icons">
                    <div class="icon-arrow"></div>
                    <div class="icon icon-6-6"></div>
                </div>
            </a>
        </div>
    </div>
</div>