<div class="marketing-container">
    <div class="header-section">
        <p class="marketing-subtitle">Buscando conexiones, apoyando el conocimiento con:</p>
        <h1 class="marketing-title">HERRAMIENTAS DE MARKETING</h1>
    </div>

    <div class="tools-grid">
        <div class="tool-card gray-card">
            <h3 class="display">EVOLUCIÓN NEGOCIO</h3>
            <h4 class="none">Información sobre la evolución del Negocio y Actividad de Retención de clientes.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-1-6"></div>
            </div>
        </div>

        <div class="tool-card green-card">
            <h3 class="display">IMPACTO DE ACCIONES COMERCIALES</h3>
            <h4 class="none">Información estadistica de la eficiencia de las acciones que hacemos a los clientes de
                retención, vinculación.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-2-6"></div>
            </div>
        </div>

        <div class="tool-card teal-card">
            <h3 class="display">CAMPAÑAS</h3>
            <h4 class="none">Informacion sobre las Campañas de venta de productos con descuento.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-3-6"></div>
            </div>
        </div>

        <div class="tool-card green-card">
            <h3 class="display">PERFIL CLIENTE COLECTIVO</h3>
            <h4 class="none">Perfil del cliente empresa.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-4-6"></div>
            </div>
        </div>

        <div class="tool-card teal-card">
            <h3 class="display">DIMENSIONAMIENTO DE ACCIONES COMERCIALES</h3>
            <h4 class="none">Herramienta para sacar estadísticas antes de realizar una acción, aqupi vemos el volumen de
                clientes al que iriamos a impactar u otro tipo de estadisticas.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-5-6"></div>
            </div>
        </div>

        <div class="tool-card gray-card">
            <h3 class="display">GEOMARKETING EMPRESAS</h3>
            <h4 class="none">Información del Mercado de Empresas en España.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-6-6"></div>
            </div>
        </div>
    </div>
</div>