/* hero.component.css */

.hero-container {
    /*display: flex;
    align-items: center;
    /*background-color: #9bb53c;*/
    /* Color de fondo verde */
    border-radius: 12px;
    overflow: hidden;
    max-width: 85%;
    padding: 20px;
    color: #fff;
}

.hero-text {
    flex: 1;
    padding: 20px;
    color: white;
    text-align: left;
}

.quote {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.author {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.hero-image {
    flex: 1;
    position: relative;
}

.background-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -10vh;
}

.overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    color: white;
    max-width: 200px;
}

.logo {
    width: 60px;
    margin-bottom: 10px;
}

.description {
    font-size: 0.9rem;
    line-height: 1.4;
}

.btn-entrar {
    display: flex;
    /* Para alinear texto e ícono */
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* Espacio entre texto y flecha */
    width: 180px;
    height: 52px;
    border-radius: 36px;
    background: #98A92A;
    font-family: "FS Me";
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: -70px;
    margin-right: 20px;
    transition: background-color 0.3s ease;

    &:hover {
        background: #7a8c1e;
    }

    .icon-arrow {
        width: 20px;
        height: 20px;
        stroke: #FFFFFF;
    }
}