<!-- hero.component.html -->
<!--<div class="hero-container">-->
<!-- Cita y Autor
    <div class="hero-text">
        <p class="quote">NO BUSQUES CLIENTES PARA TUS PRODUCTOS,</p>
        <p class="quote">BUSCA PRODUCTOS PARA TUS CLIENTES</p>
        <p class="author">SETH GODIN</p>
    </div> -->

<!-- Imagen de fondo y descripción adicional -->
<div class="hero-image">
    <img src="assets/Cabecera_2x.png" alt="Imagen de fondo" class="background-image" />
    <a routerLink="/cards" class="btn-entrar">
        Entrar
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="icon-arrow">
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
    </a>
    <!-- <div class="overlay">
            <img src="assets/logo-dkv.png" alt="DKV Logo" class="logo" />
            <p class="description">
                En investigación comercial analizamos el comportamiento y las
                necesidades de nuestros clientes, así como observamos continuamente a la
                competencia.
            </p>
        </div> -->
</div>
<!--</div>-->