<div class="investigacion-container">
    <a href="#" (click)="goBack()" target="_self">
        <p class="unnamed-character-style-20">Inicio / EQUIPO DE INVESTIGACIÓN</p>
    </a>
    <div class="header-section">
        <p class="investigacion-subtitle">Examinando datos, investigando demandas, formándonos, aprendiendo con ellos:
        </p>
        <h1 class="investigacion-title">EQUIPO DE </h1>
        <span class="investigacion-title-span">
            INVESTIGACIÓN
        </span>
    </div>
</div>
<div class="team-container">
    <!-- Miembro 1 -->
    <div class="team-member">
        <div class="team-member">
            <!-- Parte izquierda con foto y fondo verde -->
            <div class="photo-section">
                <div class="photo" style="background-image: url('../../../assets/EQUIPO/JesusAranda.png');"></div>
                <div class="info">
                    <h3 class="name name-text">JESÚS ARANDA</h3>
                    <p class="role role-text">Responsable</p>
                </div>
            </div>

            <!-- Parte derecha con descripción -->
            <div class="description-section">
                <p class="description description-text">
                    Graduado en Estadística por la Universidad de Granada y Master en Marketing Science en ESIC
                    (Business and Marketing School), Jesús acumula experiencia de más de quince años en el Sector de
                    Investigación de Mercados y, ha contribuido, a lo largo de su trayectoria, en el desarrollo de
                    empresas con diferente actividad económica ocupando distintas posiciones (Banca, Institutos de
                    Investigación de Mercados, Logística, Energía, Gran Consumo...).
                    <br /><br />
                    Desde Febrero de 2018 forma parte
                    del Equipo de Marketing de DKV coordinando la Actividad de Investigación Mercados e Inteligencia
                    Comercial. Así mismo compagina esta actividad con el mundo académico, es profesor en la OBS
                    (IL3-Universitat de Barcelona-EAE On Line).
                </p>
            </div>
        </div>

    </div>

    <!-- Miembro 2 -->
    <div class="team-member">
        <div class="team-member">
            <!-- Parte izquierda con foto y fondo verde -->
            <div class="photo-section">
                <div class="photo" style="background-image: url('../../../assets/EQUIPO/BorjaWesolowski.png');"></div>
                <div class="info">
                    <h3 class="name name-text">Borja Wesolowski</h3>
                    <p class="role role-text">Técnico de Oportunidades de Negocio e Investigación de Mercado</p>
                </div>
            </div>

            <!-- Parte derecha con descripción -->
            <div class="description-section description-text">
                <p class="description">
                    Estudió Marketing en Saxion University (Países Bajos) y Máster en Marketing y Comunicación Digital
                    (Kühnel Escuela de Negocios). Comenzó su trayectoria profesional en el sector de los eventos
                    fundando su propia compañía.
                    <br /><br />
                    Se incorporó a DKV en el año 2017 dentro área de Estrategia en el
                    departamento de Marketing, para incorporarse posteriormente al área de Investigación de Mercados e
                    Inteligencia Comercial desempeñando las funciones de investigación en todo lo relativo al mercado y
                    a la competencia.
                </p>
            </div>
        </div>

    </div>

    <!-- Miembro 3 -->
    <div class="team-member">
        <div class="team-member">
            <!-- Parte izquierda con foto y fondo verde -->
            <div class="photo-section">
                <div class="photo" style="background-image: url('../../../assets/EQUIPO/CristianMartos.png');"></div>
                <div class="info">
                    <h3 class="name name-text">Cristian Martos</h3>
                    <p class="role role-text">Técnico de Investigación Comercial</p>
                </div>
            </div>

            <!-- Parte derecha con descripción -->
            <div class="description-section">
                <p class="description description-text">
                    Graduado en Estadística y Empresa por la universidad Carlos III de Madrid.
                    Comenzó su trayectoria profesional en el sector de distribución, como analista de datos,
                    especializándose principalmente en el negocio de tabaco durante 7 años.
                    <br /><br />Se incorporó a DKV en 2022
                    para formar parte del área de Investigación de Mercados e Inteligencia Comercial, dentro del
                    departamento de Marketing.
                </p>
            </div>
        </div>

    </div>

    <!-- Miembro 4 -->
    <div class="team-member">
        <div class="team-member">
            <!-- Parte izquierda con foto y fondo verde -->
            <div class="photo-section">
                <div class="photo" style="background-image: url('../../../assets/EQUIPO/SergioCuesta.png');"></div>
                <div class="info">
                    <h3 class="name name-text">Sergio Cuesta</h3>
                    <p class="role role-text">Técnico de Investigación Comercial</p>
                </div>
            </div>

            <!-- Parte derecha con descripción -->
            <div class="description-section">
                <p class="description description-text">
                    Graduado en Ingeniería de Software por la Universidad de Tecnología y Arte Digital (U-TAD) y Master
                    en Big Data y Data Science por la misma Universidad.
                    <br /><br />
                    Sergio acumula dos años de experienca como
                    desarrollador de software en una compañía que se dedica a crear películas de animación (Planet 51,
                    Mortadelo y Filemón, Blush, Good Luck Bad Luck, etc..) y, va a hacer un año de experiencia como
                    Ingeniero de Datos.
                    <br /><br />Se incorporó en calidad de externo en julio de 2022 y en febrero de 2023 pasó a
                    formar parte de la plantilla de la compañía como parte del equipo de investigación de Mercados e
                    Inteligencia Comercial, desempeñando las funciones de ingeniero de datos y de investigación
                    comercial.
                </p>
            </div>
        </div>

    </div>

    <!-- Miembro 5 -->
    <div class="team-member">
        <div class="team-member">
            <!-- Parte izquierda con foto y fondo verde -->
            <div class="photo-section">
                <div class="photo" style="background-image: url('../../../assets/EQUIPO/LuisHernandez.png');"></div>
                <div class="info">
                    <h3 class="name name-text">Luis Hernandez</h3>
                    <p class="role role-text">Técnico de Oportunidades de Negocio e Investigación de Mercado</p>
                </div>
            </div>

            <!-- Parte derecha con descripción -->
            <div class="description-section">
                <p class="description description-text">
                    Graduado en Ingeniería de Tecnologías Industriales por la Universidad de Zaragoza y Máster en Visual
                    Analytics and Big Data (UNIR). Comenzó su trayectoria profesional, como ingeniero y analista de
                    datos, especializándose en el sector energético y bancario.
                    <br /><br />
                    Se incorporó a DKV en 2024 para formar parte del área de Investigación de Mercados e Inteligencia
                    Comercial, dentro del departamento de Marketing.
                </p>
            </div>
        </div>

    </div>
</div>