/* equipo-de-investigacion.component.css */

.investigacion-container {
    background-image: url(../../../assets/EQUIPO/Cabecera_2x.png);
    background-size: cover;
    background-position: right;
    min-height: 240px;
    padding: 30px;
    border-radius: 12px;
    color: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.content {
    max-width: 600px;
    /* Ajusta el ancho del texto */
}

.investigacion-subtitle {
    font-size: 1.2rem;
    margin: 0 0 10px 0;
}

.investigacion-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

/* Imagen de fondo semitransparente */
.investigacion-container::after {
    content: "";
    // background-image: url('assets/equipo-investigacion-bg.png');
    /* Imagen de fondo */
    background-size: cover;
    background-position: right;
    opacity: 0.2;
    /* Transparencia de la imagen */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    z-index: 0;
}

/* Para que el texto esté en primer plano */
.investigacion-container .content {
    position: relative;
    z-index: 1;
}