.mercado-container {
    max-width: 1434px;
    min-height: 340px;
    margin: auto;
    padding: 20px;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../../../assets/MERCADO/Cabecera_2x.png);
    background-size: cover;
    background-position: right;
    min-height: 240px;
    min-width: 461px;
    width: 1434px;
    padding: 30px;
    border-radius: 30px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.mercado-title {
    margin-top: 10px;
    text-transform: uppercase;
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-weight: bold;
    font-size: 100px;
    font-weight: 700;
    line-height: 135.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.mercado-subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    font-family: FS Me;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.market-grid {
    width: 1434px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.market-card {
    position: relative;
    padding: 20px;
    width: 461px;
    height: 352px;
    //gap: 0px;
    border-radius: 29px;
    opacity: 0px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.gray-card {
    background-color: #6A625A;
}

.green-card {
    background-color: #98A92A;
}

.teal-card {
    background-color: #095751;
}

.light-green-card {
    background-color: #98A92A;
}

.dark-teal-card {
    background-color: #095751;
}

.dark-gray-card {
    background-color: #6A625A;
}

.market-card h3 {
    //font-size: 1.1rem;
    //font-weight: bold;
    //margin: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 33.76px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 1vw;
    margin-top: 1vw;
}

.icons {
    position: absolute;
    bottom: 20px;
    left: 0;
    //transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px;
    //gap: 17vw;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    opacity: 0.2px;
}

.icon-1-6 {
    background-image: url(../../../assets/MERCADO/iconos/icono_1_2x.png);
    width: 109px;
    height: 124px;
    top: 176px;
    left: 287px;
}


.icon-2-6 {
    background-image: url(../../../assets/MERCADO/iconos/icono_2_2x.png);
    width: 109px;
    height: 143px;
    top: 176px;
    left: 292px;

}

.icon-3-6 {
    background-image: url(../../../assets/MERCADO/iconos/icono_3_2x.png);
    width: 143px;
    height: 104px;
    top: 201px;
    left: 263px;
    padding: 0px 0.04px 0px 0px;
}

.icon-4-6 {
    background-image: url(../../../assets/MERCADO/iconos/icono_4_2x.png);
    width: 105px;
    height: 138px;
    top: 171px;
    left: 298px;
}

.icon-5-6 {
    background-image: url(../../../assets/MERCADO/iconos/icono_5_2x.png);
    width: 125.5px;
    height: 121px;
    top: 188px;
    left: 290px;
    gap: 0px;
    border: 5px 0px 0px 0px;
    margin-bottom: 1vh;
}

.icon-6-6 {
    background-image: url(../../../assets/MERCADO/iconos/icono_6_2x.png);
    width: 155px;
    height: 133.48px;
    top: 182px;
    left: 280px;
}

.icon-arrow {
    background-image: url(../../../assets/CLIENTES/Clientes_iconos/Normal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin-left: 1vw;
    margin-bottom: 1vw;
    transition: background-image 0.5s ease;

}

.icon {
    align-self: flex-end;
}

.icon-arrow {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bold;
}

.market-card {
    position: relative;
}

.market-card .display {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.display,
.none {
    position: absolute;
    padding: 20px 20px;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    transition: opacity 0.5s ease;
}

.display {
    opacity: 1;
    z-index: 1;
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-size: 25px;
    font-weight: 700;
    line-height: 33.76px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 1vw;
    margin-top: 1vw;
}

.subtitle-display {
    font-family: var(----unnamed-font-family-fs-me);
    font-size: 1.6rem;
    line-height: 1.3;
    margin-left: 1vw;
    margin-top: 1vw;
}

.display {
    opacity: 1;
    z-index: 1;
}

.none {
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.market-card:hover .display {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

.market-card:hover .none {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

.market-card:hover .icon {
    opacity: 0;
}

.market-card:hover .icon-arrow {
    background-image: url(../../../assets/CLIENTES/Clientes_iconos/Hover.png);
    transition: background-image 0.5s ease;
}

h3 {
    margin-left: 1vw;
    margin-top: 1vw;
}