<div class="mercado-container">
    <div class="header-section">
        <p class="mercado-subtitle">Conociendo a nuestros enemigos o competidores:</p>
        <h1 class="mercado-title">MERCADO</h1>
    </div>

    <!-- Tarjetas de secciones del mercado -->
    <div class="market-grid">
        <div class="market-card gray-card">
            <h3 class="display">PRICING Y COBERTURAS</h3>
            <h4 class="none">Información de precios, coberturas y Campañas de los Competidores y Comparativa con DKV.
            </h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-1-6"></div>
            </div>
        </div>

        <div class="market-card green-card">
            <h3 class="display">ARGUMENTARIO</h3>
            <h4 class="none">Herramienta que tiene argumentarios que utiliza la red comercial para defender la calidad
                de nuestros productos en relación a la competencia.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-2-6"></div>
            </div>
        </div>

        <div class="market-card teal-card">
            <h3 class="display">BENCHMARK DIGITAL</h3>
            <h4 class="none">Comparativa de los activos digitales de DKV con los de la competencia, apps, webs...</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-3-6"></div>
            </div>
        </div>

        <div class="market-card light-green-card">
            <h3 class="display">INFORME SECTORIAL CORREDURÍAS</h3>
            <h4 class="none">Página que contiene información relevante sobre el Canal de Corredores.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-4-6"></div>
            </div>
        </div>

        <div class="market-card dark-teal-card">
            <h3 class="display">CIFRAS DE MERCADO</h3>
            <h4 class="none">Sección con gráficos donde están las cifras totales del mercado tanto DKV como el resto. Es
                información Pública.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-5-6"></div>
            </div>
        </div>

        <div class="market-card dark-gray-card">
            <h3 class="display">CONJOINT</h3>
            <h4 class="none">Herramienta que permite ver la sensibilidad al precio de un cliente para un producto
                determinado.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-6-6"></div>
            </div>
        </div>
    </div>
</div>