/* cliente.component.css */

.cliente-container {
    max-width: 950px;
    margin: auto;
    padding: 20px;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../../../assets/CLIENTES/Clientes_Cabecera_2x.png);
    background-size: cover;
    background-position: right;
    min-height: 240px;
    padding: 30px;
    border-radius: 12px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.cliente-title {
    margin-top: 10px;
    text-transform: uppercase;
    font-family: LEMON MILK;
    font-size: 100px;
    font-weight: 700;
    line-height: 135.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.cliente-subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    font-family: FS Me;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.questions-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Estilo base para cada tarjeta */
.question-card {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gray-card {
    background-color: #6A625A;
}

.green-card {
    background-color: #98A92A;
}

.teal-card {
    background-color: #095751;
}


/* Estilo de los títulos de las preguntas */
.question-card h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

.icon {
    padding-top: 20%;
    width: 67.6px;
    height: 78.87px;
    top: 199px;
    left: 313px;
    gap: 0px;
    border: 0px 0px 0px 0px;
    opacity: 0.2px;
    background-size: cover;
    background-position: center;
}

.icon-1-6 {
    background-image: url(../../../assets/CLIENTES/Clientes_iconos/Clientes_icono_1_2x.png);
}

.icon-2-6 {
    background-image: url(../../../assets/CLIENTES/Clientes_iconos/Clientes_icono_2_2x.png);
    width: 100px;
    height: 80px;
}

.icon-3-6 {
    background-image: url(../../../assets/CLIENTES/Clientes_iconos/Clientes_icono_3_2x.png);
    width: 75px;
    height: 80px;
}

.icon-4-6 {
    background-image: url(../../../assets/CLIENTES/Clientes_iconos/Clientes_icono_4_2x.png);
    width: 80px;
    height: 130px;
    margin-top: -30%;
}

.icon-5-6 {
    background-image: url(../../../assets/CLIENTES/Clientes_iconos/Clientes_icono_5_2x.png);
    width: 130px;
    height: 95px;
    margin-left: -50%;
}

.icon-6-6 {
    background-image: url(../../../assets/CLIENTES/Clientes_iconos/Clientes_icono_6_2x.png);
    width: 80px;
    height: 75px;
}

.icon {
    align-self: flex-end;
}

.icon-arrow {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bold;
}

.question-card {
    position: relative;
}

.question-card .display {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.display,
.none {
    position: absolute;
    padding: 20px 20px;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    transition: opacity 0.5s ease;
}


.display {
    opacity: 1;
    z-index: 1;
    font-family: LEMON MILK;
    font-size: 25px;
    font-weight: 700;
    line-height: 33.76px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.none {
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.question-card:hover .display {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

.question-card:hover .none {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

.question-card:hover .icon {
    opacity: 0;
}