<div class="cliente-container">
    <div class="header-section">
        <p class="cliente-subtitle">Estudiando las necesidades reales, observando a la sociedad, escuchando a nuestros
        </p>
        <h1 class="cliente-title">CLIENTES</h1>

    </div>

    <!-- Tarjetas de preguntas -->
    <div class="questions-grid">
        <div class="question-card gray-card">
            <h3 class="display">¿POR QUÉ LLEGA?</h3>
            <h4 class="none">Por que los clientes eligen DKV.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-1-6"></div>
            </div>
        </div>

        <div class="question-card green-card">
            <h3 class="display">¿CÓMO ES?</h3>
            <h4 class="none">Perfil transaccional de los clientes de DKV.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-2-6"></div>
            </div>
        </div>

        <div class="question-card teal-card">
            <h3 class="display">¿CÓMO ACTÚA?</h3>
            <h4 class="none">Perfil aptitudinal de los clientes de DKV.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-3-6"></div>
            </div>
        </div>

        <div class="question-card green-card">
            <h3 class="display">¿DÓNDE VIVE?</h3>
            <h4 class="none">Geomarketing.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-4-6"></div>
            </div>
        </div>

        <div class="question-card teal-card">
            <h3 class="display">¿QUÉ LE MOTIVA?</h3>
            <h4 class="none">Qué otros productos de DKV podrían ser de su interés, este conocimiento está basado en
                técnicas de predicción.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-5-6"></div>
            </div>
        </div>

        <div class="question-card gray-card">
            <h3 class="display">¿POR QUÉ SE VA?</h3>
            <h4 class="none">Motivos de abandono en aquellos clientes que se dan de baja.</h4>
            <div class="icon">
                <span class="icon-arrow"></span>
                <div class="icon icon-6-6"></div>
            </div>
        </div>
    </div>
</div>