<!-- app.component.html -->
<div class="container">

  <!-- Navigation bar (Side Menu) -->
  <!-- <nav class="sidebar">
    <ul>
      <li><a routerLink="/" routerLinkActive="active-link">Inicio</a></li>
      <li><a routerLink="/cliente" routerLinkActive="active-link">Cliente</a></li>
      <li><a routerLink="/mercado" routerLinkActive="active-link">Mercado</a></li>
      <li><a routerLink="/herramientas-de-marketing" routerLinkActive="active-link">Herramientas de Marketing</a></li>
      <li><a routerLink="/equipo-de-investigacion" routerLinkActive="active-link">Equipo de Investigación</a></li>
      <li><a routerLink="/profile" routerLinkActive="active-link">Perfil</a></li>
      <li><a routerLink="/settings" routerLinkActive="active-link">Configuración</a></li>
    </ul>
  </nav> -->

  <!-- Main Content Area -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>