.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Columna izquierda más ancha para Clientes */
    grid-template-areas:
        "clientes mercado"
        "clientes marketing"
        "clientes investigacion";
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px;
    /* Ajuste de márgenes para mantener un espacio exterior */
    max-width: 100%;
    align-items: stretch;
    justify-items: stretch;
}

/* Tarjeta grande para Clientes */
.clientes-card {
    grid-area: clientes;
    background-image: url(../../assets/clientes.png);
    border-radius: 26px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 696px;
    /* Altura mínima para mantener el tamaño original */
    opacity: 1;
    transition: background-image 0.3s ease-in-out;
}

/* Tarjeta para Mercado */
.mercado-card {
    grid-area: mercado;
    background-image: url(../../assets/Recuadro_Mercado_2x.png);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    min-height: 242px;
    /* Altura mínima */
    opacity: 1;
    transition: background-image 0.3s ease-in-out;
}

/* Tarjeta para Herramientas de Marketing */
.marketing-card {
    grid-area: marketing;
    background-image: url(../../assets/Recuadro_Herramientas_2x.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
    min-height: 242px;
    /* Altura mínima */
    border-radius: 12px;
    opacity: 1;
    transition: background-image 0.3s ease-in-out;
}

/* Tarjeta para Equipo de Investigación */
.investigacion-card {
    grid-area: investigacion;
    background-image: url(../../assets/Recuadro_Equipo_2x.png);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    /* Redondea las esquinas inferiores */
    overflow: hidden;
    cursor: pointer;
    min-height: 162px;
    /* Altura mínima */
    opacity: 1;
    transition: background-image 0.3s ease-in-out;
}


.clientes-card:hover {
    background-image: url(../../assets/Recuadro_Clientes_Hover_2x.png);
}

.mercado-card:hover {
    background-image: url(../../assets/Recuadro_Mercado_Hover_2x.png);
}

.marketing-card:hover {
    background-image: url(../../assets/Recuadro_Herramientas_Hover_2x.png);
}

.investigacion-card:hover {
    background-image: url(../../assets/Recuadro_Equipo_Hover_2x.png);
}


/* Estilos para la superposición de cada tarjeta */
.section-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-overlay h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.cliente-seccion,
.mercado-seccion,
.marketing-seccion,
.investigacion-seccion {
    position: relative;
    display: grid;
}

.section-card .arrow-icon {
    background-image: url(../../assets/Arrow/Arrow_1x.png);
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    z-index: 1;
    transition: background-image 0.3s ease;
}

.section-card:hover .arrow-icon {
    background-image: url(../../assets/Arrow/Arrow_Hover_1x.png );
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.section-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.h3-cliente {
    font-family: LEMON MILK;
    font-size: 80px;
    font-weight: bold;
    z-index: 1;
    margin: 0;
    color: #ffffff;
    align-self: flex-start;
    margin-top: 0%;
    margin-bottom: 2%;
    line-height: 1.2;
}

.h3-mercado,
.h3-marketing,
.h3-investigacion {
    font-family: LEMON MILK;
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
    color: #ffffff;
    align-self: flex-start;
    margin-top: 0%;
    margin-bottom: 2%;
    line-height: 1.2;
}


.section-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: background-color 0.3s ease;
}

.hover-text {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    align-self: flex-start;
    margin-top: 97%;
    max-width: 80%;
    line-height: 1.5;
    transition: opacity 0.3s ease;
}

.hover-text-small {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    align-self: flex-start;
    margin-top: 5%;
    margin-bottom: 0;
    max-width: 75%;
    line-height: 1.5;
    transition: opacity 0.3s ease;
}

.section-card:hover .hover-text,
.section-card:hover .hover-text-small {
    opacity: 1;
}