<!-- section-cards.component.html -->
<div class="section-grid">
    <!-- Tarjeta Clientes (columna izquierda completa) -->
    <div class="section-card clientes-card" routerLink="/cliente">
        <div class="">
            <h3 class="lemonMilk80">CLIENTES</h3>
            <span class="icon-arrow">➔</span>
        </div>
    </div>

    <!-- Tarjeta Mercado (parte superior derecha) -->
    <div class="section-card mercado-card" routerLink="/mercado">
        <div class="y">
            <h3>MERCADO</h3>
            <span class="icon-arrow">➔</span>
        </div>
    </div>

    <!-- Tarjeta Herramientas de Marketing (parte media derecha) -->
    <div class="section-card marketing-card" routerLink="/herramientas-de-marketing">
        <div class="">
            <h3>HERRAMIENTAS DE MARKETING</h3>
            <span class="icon-arrow">➔</span>
        </div>
    </div>

    <!-- Tarjeta Equipo de Investigación (parte inferior derecha) -->
    <div class="section-card investigacion-card" routerLink="/equipo-de-investigacion">
        <div>
            <h3 class="unnamed-character-style-80">EQUIPO DE INVESTIGACIÓN</h3>
            <span class="icon-arrow">➔</span>
        </div>
    </div>
</div>