.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "clientes mercado"
        "clientes marketing"
        "clientes investigacion";
    row-gap: 2vw;
    column-gap: 2vw;
    margin: 2vw;
    height: 80vh;
    max-height: 696px;
    align-items: stretch;
    justify-items: stretch;
}

.clientes-card {
    grid-area: clientes;
    background-image: url(../../assets/clientes.png);
    border-radius: 2vh;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center;

    opacity: 1;
    transition: background-image 0.3s ease-in-out;
}

.mercado-card {
    grid-template-rows: 2fr;
    grid-area: mercado;
    background-image: url(../../assets/Recuadro_Mercado_2x.png);
    background-position: center;
    border-radius: 2vh;
    overflow: hidden;
    cursor: pointer;
    min-height: 24vh;
    opacity: 1;
    transition: background-image 0.3s ease-in-out;
}

.marketing-card {
    grid-area: marketing;
    background-image: url(../../assets/Recuadro_Herramientas_2x.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
    min-height: 24vh;
    border-radius: 2vh;
    opacity: 1;
    transition: background-image 0.3s ease-in-out;
}

.investigacion-card {
    grid-area: investigacion;
    background-image: url(../../assets/Recuadro_Equipo_2x.png);
    background-size: cover;
    background-position: center;
    border-radius: 2vh;
    overflow: hidden;
    cursor: pointer;
    min-height: 16vh;
    opacity: 1;
    transition: background-image 0.3s ease-in-out;
}


.clientes-card:hover {
    background-image: url(../../assets/Recuadro_Clientes_Hover_2x.png);
}

.mercado-card:hover {
    background-image: url(../../assets/Recuadro_Mercado_Hover_2x.png);
}

.marketing-card:hover {
    background-image: url(../../assets/Recuadro_Herramientas_Hover_2x.png);
}

.investigacion-card:hover {
    background-image: url(../../assets/Recuadro_Equipo_Hover_2x.png);
}


/* Estilos para la superposición de cada tarjeta */
.section-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-overlay h3 {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.cliente-seccion,
.mercado-seccion,
.marketing-seccion,
.investigacion-seccion {
    position: relative;
    display: grid;
}

.section-card .arrow-icon {
    background-image: url(../../assets/Arrow/Normal.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transform: rotate(315deg);
    top: 30px;
    right: 40px;
    width: 45px;
    height: 45px;
    z-index: 1;
    transition: background-image 0.6s ease;
}

.section-card:hover .arrow-icon {
    background-image: url(../../assets/Arrow/Hover.png );
    position: absolute;
    transform: rotate(315deg);
    z-index: 1;
    transition: background-image 0.6s ease;
}

.section-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.h3-cliente {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-size: 6vh;
    font-weight: bold;
    z-index: 1;
    margin: 0;
    color: #ffffff;
    align-self: flex-start;
    margin-top: 0%;
    margin-bottom: 2%;
    line-height: 1.2;
}

.h3-mercado,
.h3-marketing,
.h3-investigacion,
.span-marketing,
.span-investigacion {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-size: 3vh;
    z-index: 1;
    color: #ffffff;
    align-self: flex-start;
    margin-top: 0%;
    margin-bottom: 2%;
    line-height: 1.2;
}

.h3-cliente,
.h3-mercado,
.span-marketing,
.span-investigacion {
    font-weight: bold;
}

.section-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: background-color 0.3s ease;
}

.hover-text {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-size: 2vh;
    font-weight: normal;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    align-self: flex-start;
    margin-top: 97%;
    max-width: 80%;
    line-height: 1.5;
    transition: opacity 0.3s ease;
}

.hover-text-small {
    font-family: var(--unnamed-font-family-lemon-milk-pro-ftr);
    font-size: 1.7vh;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    align-self: flex-start;
    margin-top: 5%;
    margin-bottom: 3%;
    max-width: 75%;
    line-height: 1.5;
    transition: opacity 0.3s ease;
}

.xsmall {
    font-size: 1.5vh;
}

.section-card:hover .hover-text,
.section-card:hover .hover-text-small {
    opacity: 1;
}