<!-- section-cards.component.html -->
<div class="section-grid">
    <!-- Tarjeta Clientes (columna izquierda completa) -->
    <div class="section-card clientes-card" routerLink="/cliente" style="background-image: url('assets/clientes.png');">
        <div class="">
            <h3>CLIENTES</h3>
            <span class="icon-arrow">➔</span>
        </div>
    </div>

    <!-- Tarjeta Mercado (parte superior derecha) -->
    <div class="section-card mercado-card" routerLink="/mercado"
        style="background-image: url('assets/Recuadro_Mercado_2x.png');">
        <div class="y">
            <h3>MERCADO</h3>
            <span class="icon-arrow">➔</span>
        </div>
    </div>

    <!-- Tarjeta Herramientas de Marketing (parte media derecha) -->
    <div class="section-card marketing-card" routerLink="/herramientas-de-marketing"
        style="background-image: url('assets/Recuadro_Herramientas_2x.png');">
        <div class="">
            <h3>HERRAMIENTAS DE MARKETING</h3>
            <span class="icon-arrow">➔</span>
        </div>
    </div>

    <!-- Tarjeta Equipo de Investigación (parte inferior derecha) -->
    <div class="section-card investigacion-card" routerLink="/equipo-de-investigacion"
        style="background-image: url('assets/Recuadro_Equipo_2x.png');">
        <div class="">
            <h3>EQUIPO DE INVESTIGACIÓN</h3>
            <span class="icon-arrow">➔</span>
        </div>
    </div>
</div>