<!-- section-cards.component.html -->
<div class="section-grid">
    <!-- Tarjeta Clientes (columna izquierda completa) -->
    <div class="section-card clientes-card cliente-seccion" routerLink="/cliente">
        <p class="hover-text">Estudiando las necesidades reales, observando a la sociedad, escuchando a nuestros</p>
        <h3 class="h3-cliente">CLIENTES</h3>
        <div class="arrow-icon"></div>
    </div>

    <!-- Tarjeta Mercado (parte superior derecha) -->
    <div class="section-card mercado-card mercado-seccion" routerLink="/mercado">
        <p class="hover-text-small">Conociendo a nuestros enemigos o competidores:</p>
        <h3 class="h3-mercado">MERCADO</h3>
        <div class="arrow-icon"></div>
    </div>

    <!-- Tarjeta Herramientas de Marketing (parte media derecha) -->
    <div class="section-card marketing-card marketing-seccion" routerLink="/herramientas-de-marketing">
        <p class="hover-text-small">Buscando conexiones, apoyando el conocimiento con:</p>
        <h3 class="h3-marketing">HERRAMIENTAS DE MARKETING</h3>
        <div class="arrow-icon"></div>
    </div>

    <!-- Tarjeta Equipo de Investigación (parte inferior derecha) -->
    <div class="section-card investigacion-card investigacion-seccion" routerLink="/equipo-de-investigacion">
        <p class="hover-text-small">Examinando datos, investigando demandas, formándonos, aprendiendo con ellos:</p>
        <h3 class="h3-investigacion">EQUIPO DE INVESTIGACIÓN</h3>
        <div class="arrow-icon"></div>
    </div>
</div>